/*estilos para comprar*/

.content-area{
  padding-top: 0rem;
  padding: 5rem;
  margin-top: -5rem;

}

.itm{
  margin-top: 0;
  margin: 5rem;
  height: 20vw;
  background-color: black;
  padding: 3rem;
  border-radius: 10px;
  width: 40%;
  display: inline-block;
}

.description{
  color: white;
  width: 35%;
  position: relative;
  top: -10rem;
  font-size: 2rem;
  display: inline-block;
}

.content-area a img{
  background-color: black;
  width:50%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  display: inline-block;
}

.content-area a img:hover{
  opacity: 50%;
  transition: .5s;

}

@media only screen and (max-width:674px){

@media only screen and (max-width:554px){

  .content-area{
    width: 95vw;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
