/*General styles*/

:root{
    --black: #000000;
    --gray: #1b1b1b;
    --white: #c5c5c5;
    --f-family: 'Poppins', sans-serif;
    --blue-color: #3b8da1;
    --orange-color: #f2851f;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--gray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
}
