/* styling our header */
header   {
  position: fixed;
  top: 0rem;
  left: 0rem;
  height: 12rem;
  max-height: 12rem;
  width: 100%;
  z-index: 2;
  background: black;
}

/* logo */
#logo         {
  top: 2rem;
  left: 2rem;
  position: relative;
}
#logo img    {
  width: 40vw;
  max-width: 10rem;
}

/*nav bar*/

nav{
    float: right;
    padding-top: 7rem;
}

.menulist {
    list-style: none;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}
.menulist li{
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin: 1rem;
    display: inline-block;
}
.menulist li a{
    text-decoration: none;
    color: white;
}

.check{
    right: 0;
    height: 5rem;
    width: 5rem;
    position: absolute;
    margin: 10px 30px 0px 0px;
    opacity: 0;
    z-index: 3;
    display: none;
}

.ham-menu{
    float: right;
    height: 5rem;
    width: 5rem;
    margin: 10px 30px 0px 0px;
    position: relative;
    display: none;
    border: 3px solid #ffffff;

}
.menuline {
    background: #ffffff;
    height: 2px;
    width: 25px;
    position: relative;
    margin: auto;
    display: flex;
    top: 50%;
}
.menuline::before {
    content:'';
    position: absolute;
    background: #ffffff;
    height: 2px;
    width: 25px;
    top: -8px;

}
.menuline::after {
    content:'';
    position: absolute;
    background: #ffffff;
    height: 2px;
    width: 25px;
    top: 8px;
}

@media only screen and (max-width:554px){

  nav{
      float: right;
      padding-top: 2rem;
  }

  /* logo */
  #logo         {
    top: 1rem;
    left: 1rem;
    position: relative;
  }

  .menulist{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    background:#1e1e1e;
    top: 17rem;
    padding-top: 50px;
    text-align: center;
    transition: 0.5s;
    right: 100%;
    display: block;
    margin-right: 0px;
  }

  .ham-menu{
    display: inline-block;
  }

  .menulist li{
      font-size: 3rem;
      font-weight: bold;
      position: relative;
      margin: 2rem;
      padding: 2rem;
  }
  .menulist li a{
      text-decoration: none;
      color: white;
    }
  .check{
    display: inline-block;
  }


  .check:checked ~ .menulist{
    right: 0;
  }

  .check:checked ~ .ham-menu .menuline{
    transform: rotate(135deg);
    transition: 0.3s ease;
  }

  .check:checked ~ .ham-menu .menuline::before,.check:checked ~ .ham-menu .menuline::after{
    top: 0;
    transform: rotate(90deg);
  }
}
