.content-area{

}

.Social{
  display: flex;
  justify-content: center;
}

.Social-links{
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.Social a{
  background-color: white;
  border: none;
  width: 15vw;
  height: 15vw;
  color: black;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 6vw 4vw 6vw;
  cursor: pointer;
}

@media only screen and (max-width:425px){
  .Social a{
    width: 70vw;
    height: 70vw;
    margin: 0;
    margin-top: 3rem;
    margin-left: 15vw;
  }
}
